.cursorPointer {
  cursor: pointer;
}

button,
input {
  background: var(--headers)
}

button {
  cursor: pointer;
}

.themetrue {
  --background: linear-gradient(skyblue, teal);
  --widgetBackground: rgba(255, 255, 255, .75);
  --headers: #848282;
  --borders: #FFFFFF;
  --maintext: black;
  --secondarytext: #333333;
  background: var(--background);
}

.themefalse {
  --background: linear-gradient(gray, #330033);
  --widgetBackground: rgba(255, 255, 255, .15);
  --borders: #5A5E64;
  --headers: #848282;
  --secondarytext: #FAE2C2;
  --maintext: #FAE2C2;
  background: (#2A343B);
}

.all-css {
  background: var(--background);
  color: var(--maintext);
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  background: var(--background);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  overflow-x: hidden;
}

html {
  background: black;
  overscroll-behavior: auto;
}

.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
  overscroll-behavior-y: none;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}


@media screen and (max-width: 768px) {}