.cursorPointer {
  cursor: pointer;
}

button {
  cursor: pointer;
}

.themetrue {
  --background: linear-gradient(lightblue, skyblue);
  --widgetBackground: rgba(255, 255, 255, .75);
  --headers: #848282;
  --borders: #FFFFFF;
  --maintext: black;
  --secondarytext: #333333;
  background: var(--background);
}

.themefalse {
  --background: #2A343B;
  --borders: #5A5E64;
  --headers: #848282;
  --secondarytext: #D7C9C2;
  --maintext: #FAE2C2;
  background: (#2A343B);
}

.all-css {
  background: var(--background);
  color: var(--maintext);
  overflow-x: hidden;
  overflow-y: hidden;
}

html {
  background: var(--background);
  overflow-x: hidden;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  background: var(--background);
  font-family: 'Open Sans', sans-serif;
}


@media screen and (max-width: 768px) {}