/* @import url('https: //fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap'); */
.all-css {
  --background: #EAEAEA;
  --widgetBackground: rgba(119, 119, 119, .15);
  --borders: #CECECE;
  --headers: #B1B1B1;
  --text: #777777;
  background-color: var(--background);
}
/* 
div[themeLight="false"] {
  --background: #777777;
  --borders: #B1B1B1;
  --headers: #CECECE;
  --text: #EAEAEA;
} */

html {
  background-color: #EAEAEA;
}

.App {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  background-color: var(--background);
  font-family: 'Open Sans', sans-serif;
}


/* Nav Bar */
.navbar-main {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 15vw;
  background-color: var(--background);
  border-right: 2px var(--borders) solid;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  border-right-style: inset;
}

.navbar-buttons {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.navbar-pagebutton {
  font-size: large;
  width: 15vw;
  text-align: center;
  border-right: var(--borders) solid .1vw;
  border-bottom: var(--borders) solid .1vw;
  border-bottom-right-radius: 2vw;
  color: var(--text);
  font-weight: bold;
}

.navbar-extras {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 15vw;
  height: 5vw;
}

.navbar-logoutpic {
  width: 2vw;
  height: 2vw;
  left: 0;
}
.navbar-weather{
  background-color: burlywood;
  color: red;
  text-decoration: line-through;
}
.navbar-todolist{
  background-color: burlywood;
  color: red;
  text-decoration: line-through;
}
.navbar-calendar {
  background-color: burlywood;
  color: red;
  text-decoration: line-through;
}
.navbar-dailytrackers{
  background-color: burlywood;
  color: red;
  text-decoration: line-through;
}
.navbar-musicandmovies{
  background-color: burlywood;
  color: red;
  text-decoration: line-through;
}
.navbar-externallinks{
  background-color: burlywood;
  color: red;
  text-decoration: line-through;
}

.navbar-myhub{
  background-color: burlywood;
  color: red;
  text-decoration: line-through;
}

.navbar-socials {
  background-color: var(--background);
  border-top: 2px solid var(--borders);
  border-left: 2px solid var(--borders);
  border-bottom: 2px solid var(--borders);
  border-bottom-left-radius: 2vw;
  border-top-left-radius: 2vw;
  height: 15vw;
  width: 5vw;
  position: fixed;
  right: 0;
  bottom: 10vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}



/* Login */
.login-page-div {
  background-color: var(--background);
  border-top: 2px solid var(--borders);
  border-top-right-radius: 2vw;
  border-right: 2px solid;
  border-bottom-right-radius: 2vw;
  border-bottom: 2px solid;
  border-color: var(--borders) !important;
  width: 20vw;
  height: 30vh;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 15vw;
  bottom: 10vw;
}

.login-form-div {
  height: 30vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.login-form {
  display: flex;
  height: 7vw;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  border: none;
  border-left: var(--borders) 1px solid;
  border-bottom-left-radius: .5vw;
  border-bottom: var(--borders) 1px solid;
  background-color: var(--background);
}

.login-form-submit {
  border: none;
  border-left: var(--borders) 1px solid;
  border-bottom-left-radius: .5vw;
  border-bottom: var(--borders) 1px solid;
  background-color: var(--background);
}

.login-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-submitsignup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-form {
  font-weight: bold;
  text-decoration: underline;
}


/* Home */
.home-widgetgrid {
  margin-left: 20vw;
  width: 85vw;
  height: 100vh;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.home-namewidget {
  margin: 1vw;
}

.widget {
  background-color: var(--widgetBackground);
  border: var(--headers) 2px solid;
  border-radius: .5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.home-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home-clock {
  justify-self: space-around !important;
  flex-direction: column;
}
.home-weather-widget {
  display: flex;
  flex-wrap: nowrap;
  width: auto;
  flex-direction: row;
  justify-content: center;
}

.home-weather p {
  margin: 1.5vw;
}

.home-weather-right {
  direction: rtl;
}

.home-currency {
  height: 3vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.home-currency-left {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-currency-left-sub{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-currency-right {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.home-currency-right-sub{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.home-currency-vl {
  border-left: 2px var(--borders) solid;
  height: 3vw;
}

.testwidget {
  background-color: var(--widgetBackground);
  border: var(--headers) 2px solid;
  border-radius: .5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
  height: 10vw;
  width: 15vw;
}


/* Signup */
.signup-form-div {
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* width: 50vw;
  height: 50vh; */
}

.signup-form {
    display: flex;
    height: 12vw;
    flex-direction: column;
    justify-content: space-between;
}

.signup-form-input {
  border-radius: 1vw;
  justify-content: center;
  align-items: center;
}

.signup-form-submit {
  border: none;
  border-left: var(--borders) 1px solid;
  border-bottom-left-radius: .5vw;
  border-bottom: var(--borders) 1px solid;
  background-color: var(--background);
}

.signup-submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Calendar */
.calendar-page-div {
  margin-left: 20vw;
  width: 85vw;
  height: 100vh;
  background-color: #EAEAEA;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.calendar-grid {
  display: flex;
  width: 50vw;
  gap: 20px;
}

/* News */
.news-page-div {
    margin-left: 20vw;
    width: 85vw;
    height: 100vh;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    align-items: center;
}

.news-widget {
  background-color: lime;
  border: var(--headers) 2px solid;
  border-radius: .5vw;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin: 15px;
  height: 10vw;
  width: 15vw;
}

.news-left {
  display: flex;
  flex-direction: row;
}
.news-right {
  display: flex;
  flex-direction: row;
}