.navbar-main {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 15vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
  padding-left: 1vw;
  background: none;
}

.navbar-buttons {
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}

.navbar-pagebutton {
  font-size: large;
  width: 15vw;
  text-align: center;
  background: var(--widgetBackground);
  color: var(--secondarytext);
  font-weight: bold;
}

.navbar-extras {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 15vw;
  height: 5vw;
}

.navbar-logoutpic {
  width: 2vw;
  height: 2vw;
  left: 0;
}

.navbar-todolist,
.navbar-calendar,
.navbar-dailytrackers,
.navbar-musicandmovies,
.navbar-externallinks {
  background-color: burlywood;
  color: red;
  text-decoration: line-through;
}

.navbar-socials {
  border-top: 2px solid var(--borders);
  border-left: 2px solid var(--borders);
  border-bottom: 2px solid var(--borders);
  background: var(--background);
  border-bottom-left-radius: 2vw;
  border-top-left-radius: 2vw;
  height: 15vw;
  width: 5vw;
  position: fixed;
  right: 0;
  bottom: 10vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.navbar-loggedInUser {
  height: "auto";
  width: "15vw";
  display: "flex";
  align-items: "center";
  justify-content: "center"
}

.login-page-div {
  color: var(--maintext);
  border-top: 2px solid var(--borders);
  border-top-right-radius: 2vw;
  border-right: 2px solid;
  border-color: var(--borders) !important;
  width: 20vw;
  height: 30vh;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0vw;
  bottom: 0vw;
}

.login-form-div {
  height: 30vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  color: var(--maintext);
}

.login-form {
  color: var(--maintext);
  display: flex;
  height: 7vw;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  border: none;
  border-left: var(--borders) 1px solid;
  border-bottom: var(--borders) 1px solid;
}

.login-form-submit-button {
  border: none;
  border-left: var(--borders) 1px solid;
  border-bottom: var(--borders) 1px solid;
  color: var(--maintext);
}

.login-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-submitsignup {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--maintext);
}

.login-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--maintext);
}

.toggle-form {
  font-weight: bold;
  text-decoration: underline;
  color: var(--maintext);
}

.signup-form-div {
  height: 30vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  /* width: 50vw;
  height: 50vh; */
}

.signup-form {
  display: flex;
  height: 12vw;
  flex-direction: column;
  justify-content: space-between;
}

.signup-form-input {
  justify-content: center;
  align-items: center;
}

.signup-form-submit {
  border: none;
  border-left: var(--borders) 1px solid;
  border-bottom: var(--borders) 1px solid;
  color: var(--maintext);
}

.signup-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--maintext);
}



@media screen and (max-width: 768px) {
  .navbar-main {
    z-index: 9 !important;
    position: fixed;
    top: 0;
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
  }

  .navbar-buttons {
    height: 5vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
  }

  .navbar-pagebutton {
    background: var(--widgetBackground);
    color: var(--secondarytext);
    font-size: medium;
    font-weight: bold;
  }

  .navbar-extras {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 15vw;
    height: 100%;
  }

  .navbar-logoutpic {
    width: 20px;
    height: 20px;
    right: 0;
  }

  .navbar-socials {

    border-top: 2px solid var(--borders);
    border-left: 2px solid var(--borders);
    border-right: 2px solid var(--borders);
    border-top-left-radius: 2vw;
    border-top-right-radius: 2vw;
    height: 10vw;
    width: 100vw;
    position: fixed;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
  }

  .navbar-loggedInUser {
    position: fixed;
    top: 3vh;
    border-bottom: 1.5px solid var(--borders);
    border-left: 1.5px solid var(--borders);
    border-right: 1.5px solid var(--borders);
    border-bottom-left-radius: 2vw;
    border-bottom-right-radius: 2vw;
    height: 2vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center
  }

  .login-page-div {
    width: 100vw;
    height: 100vh;
    position: fixed;

    color: var(--maintext);
    border-top: 2px solid var(--borders);
    border-top-right-radius: 2vw;
    border-right: 2px solid;
    border-color: var(--borders) !important;
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .login-form-div {
    height: 30vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: var(--maintext);
  }

  .login-form {
    color: var(--maintext);
    display: flex;
    height: 7vw;
    flex-direction: column;
  }

  .input {
    border: none;
    border-left: var(--borders) 1px solid;
    border-bottom-left-radius: .5vw;
    border-bottom: var(--borders) 1px solid;

  }

  .login-form-submit-button {
    margin-top: 3vh;
    border: none;
    border-left: var(--borders) 1px solid;
    border-bottom-left-radius: .5vw;
    border-bottom: var(--borders) 1px solid;

    color: var(--maintext);
  }

  .login-input {
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
  }

  .login-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--maintext);
  }

  .toggle-form {
    font-weight: bold;
    text-decoration: underline;
    color: var(--maintext);
  }

  .signup-form-div {
    height: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* width: 50vw;
  height: 50vh; */
  }

  .signup-form {
    display: flex;
    height: 12vw;
    flex-direction: column;
    justify-content: space-between;
  }

  .signup-form-input {
    border-radius: 1vw;
    justify-content: center;
    align-items: center;
  }

  .signup-form-submit {
    border: none;
    border-left: var(--borders) 1px solid;
    border-bottom-left-radius: .5vw;
    border-bottom: var(--borders) 1px solid;

    color: var(--maintext);
  }

  .signup-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--maintext);
  }
}